@import "tailwindcss";

/*#3a3939*/

@theme {
  --color-primary: #f7f2e9;
  --color-secondary: #B23A2F;
  --color-terciary: #3a3939;
  --color-cyan: #55868C;
  --color-twilight: #080357;
  --color-ink: #1C1B1A;
  --color-aged-paper: #D4CBB5;
}

*{
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: var(--color-primary);
  color: var(--color-ink);
  font-family: Arial, Helvetica, sans-serif;
}

.btn-primary {
  height: 2.5rem;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  background-color: var(--color-secondary);
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: var(--color-primary);
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.btn-primary:hover {
  background-color: color-mix(in srgb, var(--color-secondary) 85%, white);
}

.btn-primary:active {
  background-color: color-mix(in srgb, var(--color-secondary) 85%, black);
}

.btn-primary:focus-visible {
  outline: 2px solid #3B82F6; /* focus-visible:outline-blue-500 */
  outline-offset: 2px; /* focus-visible:outline-offset-2 */
}

.btn-primary[aria-disabled="true"] {
  cursor: not-allowed; /* aria-disabled:cursor-not-allowed */
  opacity: 0.5; /* aria-disabled:opacity-50 */
}